
<script>
$(function () {
    $('#container').highcharts({
        title: {
            text: 'Monthly Followers Statistics',
            x: -20 //center
        },
        xAxis: {
            categories: ['Aug/14', 'Sep/14','Oct/14','Nov/14','Dec/14','Jan/15','Feb/15']
        },
        yAxis: {
            title: {
                text: 'Followers'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
        },
        credits: {
        	enabled: false
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Followers',
            data: [42113, 42325, 42511, 42640, 42905, 43072, 43200]
        }]
    });
});
</script>
<div id ="social">
	<ul>
		<li>
			<a href="/dashboard/index"><i class="fa fa-facebook active"></i></a>
		</li>
		<li>
			<a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a>
		</li>
		<li>
			<a href="/dashboard/tweet_details/"><i class="fa fa-twitter"></i></a>
		</li>
		<li>
			<a href="http://plus.google.com/"><i class="fa fa-google-plus"></i> </a>
		</li>
	</ul>
</div>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header"> Twitter <small>Statistics Overview</small></h1>
		<ol class="breadcrumb">
			<li class="active">
				<i class="fa fa-dashboard"></i> Dashboard
			</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-support fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class>
							@Reliance_MF
						</div>
						<div>
							Twitter Handle
						</div>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				<span class="pull-left"><%= link_to "View Details","https://twitter.com/Reliance_MF" , target: '_blank'%></span>
				<a href="https://twitter.com/Reliance_MF" target="_blank"> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> <div class="clearfix"></div>
			</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-thumbs-o-up fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">
							43175
						</div>
						<div>
							Followers Count!
						</div>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				<span class="pull-left"><%= link_to "View Details","https://twitter.com/Reliance_MF/followers", target: '_blank'%></span>
				<a href="https://twitter.com/Reliance_MF/followers" target="_blank"> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> <div class="clearfix"></div>
			</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-twitter fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">
							<%= @count%>
						</div>
						<div>
							Total Tweets!
						</div>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				<span class="pull-left"><%= link_to "View Details", dashboard_tweet_text_path, target: '_blank'%></span>
				<a href="/dashboard/tweet_text" target="_blank"> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> <div class="clearfix"></div>
			</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-heart fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">
							516
						</div>
						<div>
							Following!
						</div>
					</div>
				</div>
			</div>
			<a href="#">
			<div class="panel-footer">
				<span class="pull-left">View Details</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				<div class="clearfix"></div>
			</div> </a>
		</div>
	</div>
</div>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
